{% extends 'base.html' %} {% load static %} {% block title %}{{ blog.title }} | Blog{% endblock %} {% block content %}
<section class="hero is-primary is-bold card">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title mb-2">{{ blog.title }}</h1>
            <h2 class="subtitle is-capitalized">Kategori : {{ blog.category }} | Penulis : {{ blog.name }} (@{{ blog.username }}) | Tanggal : {{blog.date}}</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content has-text-justified">
            {{ blog.content|safe }}
            <a href="{% url 'blog' %}" class="button is-link is-dark">Kembali ke List Blog</a>
        </div>
    </div>
</section>
{% endblock %} {% block script %} {% endblock %}
