{% extends 'base.html' %}
{% load static %}

{% block title %}Tentang - Lumina{% endblock %}

{% block content %}
<section class="section">
    <section class="container hero is-bold card">
        <div class="hero-body">
            <h1 class="title has-text-centered">Kenalan Yuk Sama Lumina! 😉</h1>
            <h2 class="subtitle has-text-centered">Gak Perlu Lagi Panik Karena Lupa Presensi!</h2>
        </div>
    </section>

    <nav class="container breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'lumina-app' %}">Lumina</a>
            </li>
            <li class="is-active">
                <a href="{% url 'about' %}" aria-current="page">Tentang Lumina</a>
            </li>
        </ul>
    </nav>

    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        {% for section in about_sections %}
                        {% if section.title %}
                            <p><strong>{{ section.title|safe }}</strong></p>
                        {% endif %}
                        {% if section.content %}
                            <p>{{ section.content|safe }}</p>
                        {% endif %}
                        {% if section.list %}
                            <ul>
                                {% for item in section.list %}
                                    <li>{{ item|safe }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if section.additional_content %}
                            <p>{{ section.additional_content|safe }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block script %}
{% endblock %}