{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-6">
        <div class="notification is-primary">
            <code>Lupa absen?</code>
            <strong>ini solusinya!</strong>
        </div>
        <div class="notification is-danger" id="description_valid">
            Kalo absennya gabisa, nonaktifkan dulu ADBlocknya
        </div>
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <input class="input is-primary mb-2" type="text" id="inputcodeabsen" placeholder="Paste kode absenmu disini" />
                    <input class="input is-primary mb-2" type="number" id="inputpertemuan" placeholder="Pertemuan ke" />
                    <button class="button is-primary" onclick="showDecrypted();">
                        Cek Decrypted
                    </button>
                </div>
            </div>
        </div>
        {% comment %} <div class="card">
            <div class="card-content">
                <div class="content">
                    <p class="is-size-5" id="decrypted">Decrypted</p>
                    <input class="input is-primary mb-2" type="text" id="hasil_decrypt" placeholder="Hasil decrypt" />
                    <input class="input is-primary mb-2" type="text" id="id_matkul" placeholder="ID Mata Kuliah" />
                </div>
            </div>
        </div> {% endcomment %}
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <p class="is-size-5">Hasil kode Absen</p>
                    {% comment %} <input class="input is-primary mb-2" type="text" id="kode_baru" placeholder="Kode baru" /> {% endcomment %}
                    <input class="input is-primary mb-2" type="text" id="kode_baru_enc" placeholder="Kode baru enc" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script type="text/javascript" src="{% static 'js/aes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ga_jelas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/biar_jelas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/absen_dekripsi.js' %}"></script>
{% endblock %}