{% extends 'base.html' %}

{% load static %}

{% block title %}Solusi Presensi UTY: Generator Kode Presensi Otomatis & Anti Lupa Presensi{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="notification is-primary">
                <code>Lupa presensi?</code>
                <strong>ini solusinya!</strong>
            </div>
            <div class="notification is-danger" id="description_valid">
                Kalo presensinya gabisa, nonaktifin dulu ADBlock-nya
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">Kode Presensi Lama</p>
                        <input class="input is-primary mb-2" type="text" id="inputcodeabsen" placeholder="Paste kode absenmu disini" />
                        <input class="input is-primary mb-2" type="number" id="inputpertemuan" placeholder="Pertemuan ke" />
                        <button class="button is-primary" onclick="showDecrypted();">
                            Buat Presensi Baru
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">Kode Presensi dan QR Code Baru</p>
                        <input class="input is-primary mb-2" type="text" id="kode_baru_enc" placeholder="Presensi Baru" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script type="text/javascript" src="{% static 'js/aes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ga_jelas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/biar_jelas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/absen_dekripsi.js' %}"></script>
{% endblock %}