{% extends 'base.html' %}

{% load static %}

{% block title %}Lumina: Generator Kode Presensi Otomatis{% endblock %}

{% block content %}

<section class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li class="is-active">
                <a href="{% url 'lumina-app' %}" aria-current="page">Lumina</a>
            </li>
        </ul>
    </nav>
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="notification is-primary">
                Gak ngerti cara makenya? <em>cusss</em> ke <a href="{% url 'blog' %}" class="has-text-link"> Lumina Blog</a> aja ya!</strong>
            </div>
            <div class="notification is-danger has-text-centered" id="description_valid">
                Eh, kalo lagi error pas presensi, coba matiin dulu AdBlock-nya ya, <em>bestie</em>!
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">Kode Presensi Lama</p>
                        <input class="input is-primary mb-2" type="text" id="inputcodeabsen" placeholder="Tempel kode presensi kamu di sini ya!" />
                        <input class="input is-primary mb-2" type="number" id="inputpertemuan" placeholder="Pertemuan Keberapa, nih?" />
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" id="termsCheckbox" />
                                    Aku udah baca <a href="{% url 'terms' %}" target="_blank">Ketentuan Lumina</a>, dan <em>yes</em>! Aku setuju!
                                </label>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-info is-inverted" onclick="showDecrypted();" disabled id="submitButton">
                                    <span class="icon">
                                        <i class="fa-solid fa-gears"></i>
                                    </span>
                                    <span>Bikin Presensi Baru</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="card" id="secondCard" style="display: none;">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5"><em>Nih</em>, Kode Presensi & QR Code Baru Kamu!</p>
                        <input class="input is-link mb-2" type="text" id="kode_baru_enc" placeholder="Presensi Barunya Udah Nongol Di Sini, ya!" />
                        <div class="field is-grouped is-grouped-right">
                            <button id="copyButton" class="button is-link is-outlined">
                                <span class="icon">
                                    <i class="fa-solid fa-copy"></i>
                                </span>
                                <span>Salin</span>
                            </button>
                            <a id="generateQRButton" class="button is-danger is-outlined">
                                <span class="icon">
                                    <i class="fa-solid fa-qrcode"></i>
                                </span>
                                <span>QR Code</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>                       
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script type="text/javascript" src="{% static 'js/aes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ga_jelas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/biar_jelas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/absen_dekripsi.js' %}"></script>
<script type="text/javascript">
    function copyCode() {
        const copyButton = document.getElementById("copyButton");
        const code = document.getElementById("kode_baru_enc").value;

        navigator.clipboard.writeText(code).then(() => {
            copyButton.innerText = "Disalin!";
            copyButton.classList.remove('is-link');
            copyButton.classList.add('is-success');

            setTimeout(() => {
                copyButton.innerText = "Salin";
                copyButton.classList.remove('is-success');
                copyButton.classList.add('is-link');
            }, 3000);
        }).catch(err => {
            console.error('Tidak bisa mengcopy teks: ', err);
        });
    }

    document.getElementById("copyButton").addEventListener("click", copyCode);
</script>

<script type="text/javascript">
    const termsCheckbox = document.getElementById("termsCheckbox");
    const submitButton = document.getElementById("submitButton");
    
    termsCheckbox.addEventListener("change", function () {
        submitButton.disabled = !this.checked;
    });
</script>
{% endblock %}