{% extends 'base.html' %}
{% load static %}

{% block title %}Ketentuan Lumina | Blog{% endblock %}

{% block content %}
<section class="section">
    <section class="hero is-primary is-bold card">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Ketentuan Lumina</h1>
                <h2 class="subtitle has-text-centered">Berikut adalah Ketentuan Lumina.</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="card mb-3">
                <div class="card-content">
                    <div class="content">
                        <p>
                            Selamat datang di Lumina ("Kami", "Layanan"). Ketentuan ini ("Ketentuan") mengatur akses dan penggunaan Anda atas aplikasi Lumina. Dengan mengakses atau menggunakan Lumina, Anda setuju untuk terikat oleh
                            Ketentuan ini. Jika Anda tidak setuju dengan salah satu ketentuan ini, Anda tidak boleh menggunakan aplikasi Lumina.
                        </p>
                        <p>
                            Ketentuan ini adalah perjanjian antara Anda ("Pengguna") dan aplikasi Lumina ("Aplikasi"). Ketentuan ini mengatur penggunaan Anda atas aplikasi Lumina, termasuk fitur-fiturnya.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-header-title is-size-5">
                        Tujuan dan Penggunaan Layanan
                    </h5>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>
                            Lumina dirancang sebagai alat bantu bagi mahasiswa yang mengalami kesulitan dalam melakukan absensi (presensi) karena alasan yang wajar, seperti terburu-buru atau kelupaan. Tujuan utama Lumina adalah untuk
                            membantu pengguna mengatasi masalah <strong>lupa belum absen</strong> dengan menyediakan solusi yang cepat dan efisien. Lumina <strong>bukanlah</strong> alat untuk memfasilitasi tindakan bolos kuliah atau
                            menghindari kewajiban absensi secara sengaja.
                        </p>
                        <hr />
                        <h6 class="subtitle is-5"><strong>Ketentuan Penggunaan</strong></h6>
                        <ol>
                            <li><strong>Penggunaan yang Diperbolehkan:</strong> Hanya bagi mahasiswa yang mengalami <strong>lupa belum absen</strong> karena alasan yang wajar.</li>
                            <li>
                                <strong>Penggunaan yang Dilarang:</strong>
                                <ul>
                                    <li>Membolos kuliah atau menghindari kewajiban absensi secara sengaja.</li>
                                    <li>Melanggar aturan akademik atau kode etik yang berlaku.</li>
                                    <li>Menggunakan Lumina untuk kegiatan ilegal.</li>
                                    <li>Mengganggu atau merusak fungsi Aplikasi.</li>
                                    <li>Menyalahgunakan fitur Aplikasi.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-header-title is-size-5">
                        Batasan Tanggung Jawab
                    </h5>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>
                            Aplikasi Lumina disediakan "sebagaimana adanya" tanpa jaminan apa pun. Kami tidak menjamin bahwa aplikasi akan bebas dari kesalahan atau berfungsi tanpa gangguan.
                        </p>
                        <ol>
                            <li><strong>Disclaimer Garansi:</strong> Kami tidak memberikan jaminan apapun atas Aplikasi.</li>
                            <li><strong>Batasan Tanggung Jawab:</strong> Kami tidak bertanggung jawab atas kerugian apa pun yang timbul dari penggunaan atau ketidakmampuan Anda untuk menggunakan Aplikasi.</li>
                            <li><strong>Tidak Bertanggung Jawab atas Penyalahgunaan:</strong> Kami tidak bertanggung jawab atas konsekuensi yang timbul akibat penyalahgunaan aplikasi, termasuk namun tidak terbatas pada sanksi akademik.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-header-title is-size-5">
                        Ketentuan Tambahan
                    </h5>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>
                            Kami berhak untuk mengubah Ketentuan ini dari waktu ke waktu. Perubahan akan diumumkan di halaman "Ketentuan Lumina" dan berlaku sejak tanggal publikasi. Dengan terus menggunakan aplikasi Lumina
                            setelah perubahan tersebut, Anda dianggap telah menyetujui Ketentuan yang telah diubah.
                        </p>
                        <p>
                            Kami berhak untuk menghentikan atau menangguhkan akses Anda ke Aplikasi jika kami menemukan adanya pelanggaran terhadap Ketentuan ini atau jika kami memiliki alasan yang sah.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-header-title is-size-5">
                        Hubungi Kami
                    </h5>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>
                            Jika Anda memiliki pertanyaan atau keluhan mengenai Ketentuan ini, Anda dapat menghubungi kami melalui:
                        </p>
                        <ul>
                            <li><strong>Email:</strong> ridwaanhall.dev@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p>
                            Ketentuan ini merupakan keseluruhan perjanjian antara Anda dan aplikasi Lumina terkait penggunaan aplikasi Lumina dan menggantikan semua perjanjian dan pemahaman sebelumnya.
                        </p>
                        <p>
                            Ketentuan ini berlaku sejak hari Ahad, 26 Januari 2025.
                        </p>
                        <p>
                            Kami tegaskan kembali bahwa Lumina dibuat semata-mata untuk membantu mahasiswa yang <strong>benar-benar lupa belum melakukan absensi</strong>. Menggunakan Aplikasi untuk tujuan lain, termasuk membolos kuliah,
                            adalah pelanggaran terhadap Ketentuan ini.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block script %}
{% endblock %}