<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="has-text-centered mb-5">
                <h4 class="title is-4 has-text-weight-bold">LUPA PRESENSI UTY</h4>
                <hr class="divider" />
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p>&copy; {% now "Y" %} LUPA PRESENSI UTY</p>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <div class="buttons are-small are-ghost">
                            <a href="https://ridwaanhall.vercel.app/" class="button">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>Created by ridwaanhall</span>
                                </span>
                            </a>
                            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="button">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-balance-scale"></i>
                                    </span>
                                    <span>CC BY-NC-ND 4.0</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>