{% load static %}
<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'absen-disini' %}">
                <img src="{% static 'icon-32x32.png' %}" alt="Kucing Legend" width="28" height="28" />
                <strong class="ml-2">Lumina</strong>
            </a>

            <!-- Mobile menu toggle -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbarMenu">
            <div class="navbar-start">
                <a href="{% url 'absen-disini' %}" class="navbar-item {% if request.resolver_match.url_name == 'absen-disini' %}is-underlined is-italic has-text-weight-bold{% endif %}">
                    Home
                </a>
            
                <a href="{% url 'blog' %}" class="navbar-item {% if request.resolver_match.url_name == 'blog' or request.resolver_match.url_name == 'blog-detail' %}is-underlined is-italic has-text-weight-bold{% endif %}">
                    Blog
                </a>
                <a href="{% url 'terms' %}" class="navbar-item {% if request.resolver_match.url_name == 'terms' %}is-underlined is-italic has-text-weight-bold{% endif %}">
                    Ketentuan
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <!-- Desktop View -->
                        <div class="is-hidden-mobile">
                            <a class="button is-link" href="{% url 'lanpage' %}">
                                <span class="icon">
                                    <i class="fa-solid fa-cloud"></i>
                                </span>
                                <span>Landing Page</span>
                            </a>
                            <a class="button is-warning" href="https://saweria.co/ridwaanhall">
                                <span class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </span>
                                <span>Buang Duitmu Disini</span>
                            </a>
                        </div>

                        <!-- Mobile View -->
                        <div class="is-hidden-tablet">
                            <a class="button is-link is-fullwidth mb-2" href="{% url 'lanpage' %}">
                                <span class="icon">
                                    <i class="fa-solid fa-cloud"></i>
                                </span>
                                <span>Landing Page</span>
                            </a>
                            <a class="button is-warning is-fullwidth mb-2" href="https://saweria.co/ridwaanhall">
                                <span class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </span>
                                <span>Buang Duitmu Disini</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>